RewriteEngine On

# Si le fichier ou le dossier demandé existe physiquement, on le charge normalement (pour le CSS, JS, images)
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Sinon, on redirige tout proprement vers l'index.php
RewriteRule ^(.*)$ index.php [QSA,L]